/data
/cert
/trash
## docs of various aspects of code structure
/aws
/docs
/plan
/terraform

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
tfplan

# Python files (if you'll be using Python)
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/

# Making module for Lambda function
package/

# IDE files
.vscode/
.idea/

# other files
## docs
*.md